DEV_HOSTNAME=
DATABASE_NAME=
DATABASE_USERNAME=
DATABASE_PASSWORD=
DATABASE_HOST=
DATABASE_PORT=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
AUTH_DOMAIN=
EMAIL_FROM=
EMAIL_TO=
EMAIL_PASSWORD=
HOSTNAME=
CAN_SUSPEND=
CAN_EDIT=
SUPER_ADMIN=
