<h2><%= icon('fa-solid', 'pen') %> Editing Incident Report</h2>

<%= render 'incident_form' %>

<div class="mb-3">
    <button type="button" class="btn btn-primary btn-lg" onclick="save_incident()"><%= icon('fa-solid', 'floopy-disk') %> Save</button>
</div>