<h2><%= icon('fa-solid', 'file-pen') %> Create a New Incident Report</h2>

<%= render 'incident_form' %>

<div class="mb-3">
    <button type="button" class="btn btn-primary btn-lg" onclick="save_incident()"><%= icon('fa-solid', 'plus') %> Publish</button>
    <button type="button" class="btn btn-secondary btn-lg" onclick="save_incident('draft')"><%= icon('fa-solid', 'floppy-disk') %> Save as Draft</button>
</div>