<div class="mt-3">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link tab-link active" aria-current="page" onclick="load_new_patron_form()">Create a New Patron</a>
      </li>
      <li class="nav-item">
        <a class="nav-link tab-link active">Add a Patron from a Previous Incidents</a>
      </li>
    </ul>
</div>