@import "bootstrap";
@import "font-awesome";
@import "*";

.nav-link{
    color: white !important;
    text-decoration: none;

    &:visited{
        color: white !important;
        text-decoration: none;
        opacity: 0.42;
    }
    &:hover{
        color: white !important;
        opacity: 0.7;
        text-decoration: underline;
    }
    &:active{
        opacity: 1;
        text-decoration: none;
    }
};

.tab-link{
    color: black !important;
    text-decoration: none;

    &:visited{
        color: black !important;
        text-decoration: none;
        opacity: 0.42;
    }
    &:hover{
        color: black !important;
        opacity: 0.7;
        text-decoration: underline;
    }
    &:active{
        opacity: 1;
        text-decoration: none;
    }
};

#suspension_letter_upload{
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}